.line-chart-board {
  width: 100%;
  margin: 2rem 0;
  background-color: var(--colors-off-white);
  padding: 2rem 2.5rem;
  border-radius: 0.625rem;
  border: 1px solid var(--colors-line);
  box-shadow: var(--shadow-default);
}

.line-chart__title {
  font-size: 1.375rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
